*{
     margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8rem;
    /* height: 6rem; */
    background-color:rgb(253, 235, 238);
}
#logo{
    font-size: 30px;
    width:200px;
    color: pink;
    margin-right: 80px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#nav-menu{
   
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 24px; */
    width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  left: -3px;
  /* width: 100%; */
  margin-left:0px ;
  padding: 0;
  background-color:rgb(253, 235, 238); 
    
}
.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.nav-link{
    transition: 0.1s ease;
    color: #faa4c2;
}
.navItem{
    color: #faa4c2;
}
.nav-link:visited{
    color: #faa4c2;

}
.navItem a:hover{
    color:rgb(219, 68, 118);
    background-color: white;
    height: 50px;
    width:120px;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
    transition: 0.3s ease;
}
.navItem a {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
#resume-button-1{
    border:0;
    color:rgb(235, 108, 171);
    background-color: rgb(253, 235, 238);
    font-size: 18px;
    
}
#resume-button-1:hover{
    background-color: white;
    height: 50px;
    width:120px;
    border-radius: 50px;
    align-items: center;
    transition: 0.3s ease;
}

.hamburger{
    height: 30px;
    width: 35px;
    margin:30px 0px 20px 20px;
    cursor: pointer;
    z-index: 100;
    display: none;
}
.nbar{
    height: 5px;
    width: 40px;
    background-color:white;
    display: block;
    border-radius: 5px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/* HOME SECTION  */
.home-img{
    width:300px;
    margin: 50px;
    border-radius: 20px;
    border: 1px solid rgb(127, 141, 170);
}
#home{
    display: flex;
    margin-top: 100px;
}
.child1{
    color: rgb(127, 141, 170);
    margin: 100px;
}
#user-detail-name{
    color: rgb(219, 68, 118);
}
.child1 h1{
  font-size: 50px;
  
}
.child1 h2{
    font-size: 30px;
}
#resume-button-2{
    margin: 40px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(219, 68, 118);
    border:0;
    border-radius: 5px;
}
#resume-button-2 {
    text-decoration: none;
    color: white;
}

/* about section  */
.mainheading{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 50px;
    color: rgb(127, 141, 170);
    text-align: center;
}
.about-section img{
     height:400px;
     width: 500px;
}
.about-section{
    color: rgb(127, 141, 170);
    display:flex ;
    margin: 50px;
    margin-top: 10px;
    font-size: 20px;
}


/* skill section  */

.skillSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
      /* border: 1px solid black; */
}
.skills-card-img img{
    width:60px;
    height: 60px;
}
.skillPicture{
    float: left;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
     /* border: 1px solid black; */
}
#skills{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    height: 200px;
    padding: 20px;
    gap:20px;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 2;
   grid-column-end: 3;
   /* border: 1px solid black; */
}
.skills-card{
    text-align: center;
    color: rgb(127, 141, 170);
    font-size: 10px;
   height: 80px;
  /* border: 1px solid black; */
}
.skillList ul{
    list-style: none;
    
}
.skillList{
    width: 400px;
    grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 3;
   /* border: 1px solid black; */
   font-size: 20px;
   width: 700px;
   padding: 20px;
   color: rgb(127, 141, 170);
}


/* project section  */

.project-card{
    display: flex;
    background-color: #FCE4EC;
    padding: 20px;
    gap:20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
     color: rgb(219, 68, 118);
}
.project-card a img{
    width:600px;
    height: 300px;
    border-radius: 10px;
    border: 4px solid #F8BBD0;
}
.project-title{
    font-size: 50px;
}
.insideProjectCard{
    margin-left: 100px;
}
.project-description{
     color: rgb(127, 141, 170);
     font-size: 20px;
}
.project-tech-stack{
    margin: 20px;
}
.probtn{
   
    display:flex;
    gap:20px;
    
}
.project-github-link{
    border: 0;
    background-color: #FCE4EC;
    width:30px;
    font-size: 30px;
    margin: 20px;
    margin-top: 40px;
    align-items: baseline;
}
.project-github-link a{
  text-decoration: none;
  color: black;
}
.project-deployed-link{
    background-color: rgb(219, 68, 118) ;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    margin-top: 40px;
}
.project-deployed-link a{
    text-decoration: none;
  color: white;
}

/* contact section  */
#contact{
    color: rgb(127, 141, 170);
    padding: 40px;
}
.email a{
    text-decoration: none;
    color:rgb(127, 141, 170)
}
#contactForm input{
   width:400px;
   margin: 10px;
   height: 30px;
   border: 1px solid rgb(127, 141, 170);
   padding: 10px;
}
#contactForm button{
   width:400px;
   margin: 10px;
   height: 30px;
   background-color: rgb(219, 68, 118) ;
   border: 10px;
   color: white;
   border: 0;
   font-weight: bolder;
   border-radius: 5px;
}
#contact{
    display: flex;
    justify-content: space-around;
}
.fa-brands {
    width:50px;
    height: 50px;
    color: black;
    font-size: 40px;
}
#contact-phone img{
    width:60px;
    

}
#contact-email img{
    width:60px;
    
}
.phoneEmail{
    display: flex;
    
}
.phoneEmail div{
    margin:30px;
    border: 3px solid black;
    border-radius: 20px;
    width: 200px;
    height:100px ;
    padding: 10px;
    text-align: center;
}
/* calendar */
#githubsection {
  margin: 0 auto;
  display: block;
  width: 70%;
  padding-bottom: 5em;
}

#githubsection img {
  transition: all 0.2s;
  width: 100%;
  object-fit: contain;
  height: 300px;
}

.react-activity-calendar {
  visibility: hidden;
  height: 1px;
  display: flex;
}

.react-activity-calendar img {
  height: 1px;
  width: 1px;
}

/* responsive */



@media(max-width:1000px) {
    /* navbar  */
.mainheading{
        text-align: center;
        margin-left: 20px;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .nbar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .nbar:nth-child(1){
       transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .nbar:nth-child(3){
       transform: translateY(-10px) rotate(-45deg);
    }
    .navMenu{
        position: fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: #FCE4EC;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
.sticky {
  position: fixed;
  top: 0;
  /* width: 100%; */
  margin-left:-3px ;
  padding: 0;
  background-color:rgb(253, 235, 238); 
    
}
    .navItem{
        margin: 20px 0px;

    }
    .navMenu.active{
        left:0;
    }
    #resume-button-1{
        margin: 20px 0px;
    }

    /* home section  */
    /* #home{
        flex-direction:column-reverse;
    } */
    .child2{
        width:100%;
        
    }
    .home-img{
        margin:100px;
    }
    /* about section  */
    .about-section{
        flex-direction: column;
    }
    #user-detail-intro{
        font-size: 20px;
    }
    .about-section img{
       margin: auto;
    }
    .resumebtn{
        margin: auto;
        text-align: center;
    }
    /* skill section  */
.skillSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: auto;
}
.skills-card-img img{
    width:60px;
    height: 60px;
    
}
.skillPicture{
  /* border: 1px solid black; */
  width:400px;
  height:400px;
   /* grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2; */
   display: none;
    
}  
.skillPicture img{
    width:450px;
    height:400px;
}
#skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 300px;
    width: 900px;
    padding: 35px;
    gap:10px;
    margin-left: 100px;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 2;
   /* border: 1px solid black; */
}
.skills-card{
    text-align: center;
    color: rgb(127, 141, 170);
    font-size: 10px;
    height: 60px;
    width:60px;
    /* border: 1px solid black; */
}
.skillList ul{
    list-style: none;
    
}
.skillList{
    width: 400px;
    grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 2;
   /* border: 1px solid black; */
   font-size: 25px;
   width: 700px;
   margin: auto;
   padding: 20px;
   color: rgb(127, 141, 170);
}

.project-card{
    display: flex;
    flex-direction: column;
    background-color: #FCE4EC;
    padding: 20px;
    gap:20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
     color: rgb(219, 68, 118);
}
.project-card a img{
    width:100%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    border: 4px solid #F8BBD0;
}
.project-title{
    font-size: 50px;
}
.insideProjectCard{
    margin-left: 50px;
}

.project-tech-stack{
    text-align: left;
}
.probtn{
    margin: auto;
    display: flex;
    gap:10px;
    text-align: center;
    /* border:1px solid black; */
}

.project-github-link{
    border: 0;
    background-color: #FCE4EC;
    width:50px;
    font-size: 30px;
    margin: 20px;
    height: 40px;
    align-items: baseline;
    margin-top: 38px;
}
.project-github-link a i{
  text-decoration: none;
  color: rgb(219, 68, 118) ;
  
}

.project-deployed-link{
    background-color: rgb(219, 68, 118) ;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    margin-bottom: 50px;
     /* border: 1px solid black; */
}
.project-deployed-link a {
    text-decoration: none;
    color: white;
    
}

/* contact section  */
#contact{
  flex-direction: column;
  
}
.contact-child-1 {
    text-align: center;
    /* border: 1px solid black; */
}
.contact-child-2{
    text-align: center;
   
}
.phoneEmail{
    display: flex;
    justify-content: space-around;
}
}


@media(max-width:500px) {
    /* navbar  */
.mainheading{
        text-align: center;
        margin-left: 200px;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .nbar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .nbar:nth-child(1){
       transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .nbar:nth-child(3){
       transform: translateY(-10px) rotate(-45deg);
    }
    .navMenu{
        position: fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: #FCE4EC;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
.sticky {
  position: fixed;
  top: 0;
  /* width: 100%; */
  margin-left:-3px ;
  padding: 0;
  background-color:rgb(253, 235, 238); 
    
}
    .navItem{
        margin: 20px 0px;

    }
    .navMenu.active{
        left:0;
    }
    #resume-button-1{
        margin: 20px 0px;
    }

    /* home section  */
    #home{
        /* flex-direction:column-reverse; */
        width: 100%;
        margin-right: -5px;
    }
    .child2{
        width:100%;
        
    }
    
    .home-img{
        margin:100px;
        width: 300px;
    }
    /* about section  */
    .about-section{
        flex-direction: column;
        width: 650px;
    }
    #user-detail-intro{
        font-size: 20px;
    }
    .about-section img{
       margin: auto;
    }
    .resumebtn{
        margin: auto;
        text-align: center;
    }
    /* skill section  */
.skillSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: auto;
}
.skills-card-img img{
    width:60px;
    height: 60px;
    
}
.skillPicture{
  /* border: 1px solid black; */
  width:400px;
  height:400px;
   /* grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2; */
   display: none;
    
}  
.skillPicture img{
    width:450px;
    height:400px;
}
#skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 300px;
    width: 500px;
    padding: 35px;
    gap:10px;
    margin-left: 100px;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 2;
   /* border: 1px solid black; */
}
.skills-card{
    text-align: center;
    color: rgb(127, 141, 170);
    font-size: 10px;
    height: 60px;
    width:60px;
    /* border: 1px solid black; */
}
.skillList ul{
    list-style: none;
    
}
.skillList{
    width: 400px;
    grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 2;
   /* border: 1px solid black; */
   font-size: 25px;
   width: 700px;
   margin: auto;
   margin-left: 50px;
   padding: 20px;
   color: rgb(127, 141, 170);
}

.project-card{
    display: flex;
    flex-direction: column;
    background-color: #FCE4EC;
    padding: 20px;
    gap:20px;
    width: 650px;
    margin: auto;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
     color: rgb(219, 68, 118);
}
.project-card a img{
    width:100%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    border: 4px solid #F8BBD0;
}
.project-title{
    font-size: 50px;
}
.insideProjectCard{
    margin-left: 50px;
}

.project-tech-stack{
    text-align: left;
}
.probtn{
    margin: auto;
    display: flex;
    gap:10px;
    text-align: center;
    /* border:1px solid black; */
}

.project-github-link{
    border: 0;
    background-color: #FCE4EC;
    width:50px;
    font-size: 30px;
    margin: 20px;
    height: 40px;
    align-items: baseline;
    margin-top: 38px;
}
.project-github-link a i{
  text-decoration: none;
  color: rgb(219, 68, 118) ;
  
}

.project-deployed-link{
    background-color: rgb(219, 68, 118) ;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    margin-bottom: 50px;
     /* border: 1px solid black; */
}
.project-deployed-link a {
    text-decoration: none;
    color: white;
    
}

/* contact section  */
#contact{
  flex-direction: column;
  width: 600px;
}
.contact-child-1 {
    text-align: center;
    /* border: 1px solid black; */
}
.contact-child-2{
    text-align: center;
   
}
.phoneEmail{
    display: flex;
    justify-content: space-around;
}
.react-activity-calendar{
    width: 600px;
   border: 1px solid black;
}

}